/* 102947 primario */
 /* d6b1a8 secundario */

.btn-secondary {
    margin-right: 5px !important;
    background-color: #d6b1a8 !important;
    border-color: #d6b1a8 !important;
}
.bg-primary {
    background-color: #102947!important;
}

.rounded-pill {
    background-color: #d6b1a8 !important;
    border-radius: 50rem!important;
}
span.badge.rounded-pill.bg-primary {
    background-color: #102947 !important;
}

.container-fluid.bg-image.d-none.d-sm-block {
    background-image: url(../img/banner_teste.jpg) !important;
    width: 100% !important;
    height: 100% !important;
}
.container-fluid.CV {
    background-color: #d6b1a8 !important;
}
img.text-center{
    width: 100%;
    height: 585px;
    border-radius: 21px 21px 21px 21px;
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
    margin-bottom: 10px;
}
.bg-light.shadow-sm.mx-auto{
    width: 78%;
    height: 600px;
    border-radius: 21px 21px 21px 21px;
}
.card.p-3.bg-primary{
    border-radius: 21px 21px 21px 21px;;
}
.card.align-items-right.p-3 {
    border-radius: 21px 21px 21px 21px;;
}
a {
    color: white;
}
li.aling-item-center {
    padding-left: 300px !important;
}
button.btn.bg-secundary {
    background-color: #d6b1a8;
}
.navbar {
    font-size: x-large;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}



 /* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
        
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
 
 